/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES */

:root{
    /* Colors */
--BACKGROUND-COLOR: #282828;
--THEME-COLOR:#2ECC91;
--GREY-TEXT-COLOR:#94A3B8;
--DARK-WHITE:#cfcfcf;
}

/* STANDARD RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

html {
    scroll-behavior: smooth;
}

body {background-color: var(--BACKGROUND-COLOR);
color:white;min-height:100vh; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
}

main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0px 100px;
    max-width:1920px;
}

button {border-radius:5px;}

a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in-out;
}

a:hover, button:hover {cursor: pointer;}

a:hover{color:var(--THEME-COLOR);}

.center {display:flex;justify-content: center;align-items: center;}

/* Header styling*/

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding:20px;
    position:fixed;
    top:0;
}

nav{display:flex;gap:4rem;}



/* HERO SECTION */

.hero{min-height:100vh;display:flex;justify-content: space-around;align-items: center;}

.header-text-container{gap: 20px;
    display: flex;
    flex-direction: column;}

.prelabel{font-family:"Space Mono", monospace;color:var(--THEME-COLOR);}

.hero h1 {font-size:4rem;}

.hero h3 {font-size:2rem;font-weight:normal;}

.hero p {color:var(--GREY-TEXT-COLOR);max-width:45ch;}

.buttons{display:flex;gap:20px;}

.primary-button, .secondary-button{font-size: 1.5rem;padding:10px;border:3px solid var(--THEME-COLOR);}

.primary-button{ color: whitesmoke; background-color: var(--THEME-COLOR);}

.secondary-button{color:var(--THEME-COLOR);background-color: transparent;}

/* SIDEBAR */

.sidebar{position:fixed;right:10px;bottom:0;flex-direction: column;align-items: center;gap:2rem;}

.sidebar-line{height:15rem;width:0.25rem;background-color: var(--THEME-COLOR);border-radius:1rem;}

.sidebar-icon{fill:var(--GREY-TEXT-COLOR);transition: all 0.1s ease;cursor: pointer;}

.sidebar-icon:hover{fill:white;}