/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES */

:root{
    /* Colors */
--BACKGROUND-COLOR: #2e2d3b; /* 282828 */
--PROJECTS-BG-COLOR:#3a3b52;
--THEME-COLOR:#2ECC91;
--THEME-COLOR-LIGHT:#2ecc9138;
--GREY-TEXT-COLOR:#94A3B8;
--DARK-WHITE:#cfcfcf;
}

/* STANDARD RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

html {
    scroll-behavior: smooth;
}

body {background-color: var(--BACKGROUND-COLOR);
color:white;min-height:100vh; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;flex-direction: column;max-width: 100vw;}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0px 100px;
    max-width:1500px;
    gap:50px;
}

button {border-radius:5px;}

a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in-out;
}

a:hover, button:hover {cursor: pointer;}

a:hover{color:var(--THEME-COLOR);}

p{color:var(--GREY-TEXT-COLOR);}

footer {font-family: "Space Mono", monospace;
    flex-direction: column;
    color: var(--GREY-TEXT-COLOR);
    font-size: 0.75rem;
    margin-bottom: 2rem;}

.center {display:flex;justify-content: center;align-items: center;}

/* Header styling*/

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding:20px 40px;
    position:fixed;
    top:0;
}

.logo {font-weight: bold;
    color: var(--THEME-COLOR);
    border-radius: 50%;
    border: 2px dotted var(--THEME-COLOR);
    padding: 10px;}

nav{display:flex;gap:4rem;}

/* HERO SECTION */

.hero{min-height:100vh;display:flex;justify-content: space-between;align-items: center;}

.header-text-container{gap: 20px;
display: flex;
    flex-direction: column;}

.prelabel{font-family:"Space Mono", monospace;color:var(--THEME-COLOR);}

.hero h1 {font-size:4rem;}

.hero h3 {font-size:2rem;font-weight:normal;}

.hero p {max-width:45ch;}

.buttons{display:flex;gap:20px;}

.primary-button, .secondary-button{font-size: 1.2rem;padding:10px;border:1px solid var(--THEME-COLOR);transition: all 0.3s ease-in-out;}

.primary-button:hover, .secondary-button:hover{transform: scale(1.1);}

.primary-button{ color: var(--BACKGROUND-COLOR); background-color: var(--THEME-COLOR);}

.secondary-button{color:var(--THEME-COLOR);background-color: transparent;}

.photo-container img {border-radius: 4rem 4rem 6rem 10rem / 3rem 10rem 16rem 8rem;
    border: 2px solid var(--THEME-COLOR);}

/* SIDEBAR */

.sidebar{position:fixed;right:40px;bottom:0;flex-direction: column;align-items: center;gap:2rem;}

.sidebar-line{height:15rem;width:0.25rem;background-color: var(--THEME-COLOR);border-radius:1rem;}

.sidebar-icon{fill:var(--GREY-TEXT-COLOR);transition: all 0.1s ease;cursor: pointer;}

.sidebar-icon:hover{fill:white;}

/* ABOUT SECTION */

.about-container{max-width:90ch;}

.general-text{line-height: 1.9rem;}

.about-header-text-container{display: flex;
    align-items: center;
    gap: 20px;}

.about-header-text-container h2 {display:flex;}

.header-text-line{height: 1px;
    flex-grow: 1;
    background-color: var(--THEME-COLOR);}

.green-text {color:var(--THEME-COLOR)}

/* Techstack */

.stack-icons-container{gap:3rem;}

.technology-container {
    display: flex;
    font-size: 0.75rem;
    height: 74px;
    color: var(--GREY-TEXT-COLOR);
    text-align: center;
    justify-content: space-between;
    flex-direction: column;}

/* PROJECTS SECTION */

/* Main projects */

.projects{width:100%;}

.main-projects{width:100%;display:flex;flex-direction: column;gap:20px;}

.main-projects div {width:100%;border-radius:1rem;border: 2px solid var(--THEME-COLOR);height:400px;}

/* Other projects */

.other-projects-container {display: flex;gap:20px;}

.other-project {position:relative;width:360px;height:360px;border-radius:0.5rem;background-color: var(--PROJECTS-BG-COLOR);justify-content: space-around;flex-direction: column;padding:20px;}

.other-project:hover{transform: translateY(-5%);}

.other-project p {max-width: 30ch;}

.other-project span {font-size: 2rem;}

.other-project h3 {max-width: 25ch;text-align: center;}

.tech-used-container{display:flex;gap:10px;}

.tech-used{font-size: 0.7rem;
    font-family: monospace;
    border-radius: 1rem;
    padding: 4px 8px;
    color: var(--THEME-COLOR);
    background-color: #2ecc9138;}





